apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-app.configMapName" . }}
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
data:
  {{- with .Values.configMap.data }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
